table {
  width: 100%;
  border-bottom: 1px solid black;
  
}

tr:hover {
 background-color: #f5f5f5;

}

th, .row {
  border-top: 1px solid black;
  text-align: justify;
  padding: 0.75rem;
}

.container {
  width: 35%;
  

}

.evict {
  background-color: red;
  color: white;
  
}

a:link {
  text-decoration: none;
  color: black;
}

a:visited {
  text-decoration: none;
  color: black;
}
.buttons-row {
  float: right;
}

.delinquent {
  color: red;
  font-size: 16pt;
  font-weight: bold;  
}

.entity_container {
  
 
}

.prop_container {
 

}

.prop_header, .entity_header {
  padding: 0 .75rem .75rem;
}
